div
    div.main-wr.container
      div.search-bar
        label
          input(type='text' placeholder='Find Project by Name')
        a(href='javascript:void(0);').btn.btn-info &#128270;

      table.table
        thead
          tr
            th(width=45) #
            th Project Name
            th Colour Palette Preview

        tbody
            tr(ng-repeat="package in gridCtrl.getPackages")
              td {{package.id}}
              td: a(href='/package/{{package.id}}')
                | {{package.name}}
              td
                span(ng-repeat="color in package.colour" style="color: {{color.value}}") &bull;
