@import 'header/header'

body
  font 14px arial, Helvetica, sans-serif
  background-color $body-color
  color $text-color
*
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  &:before,
  &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
a
  outline none!important
  text-decoration none
  &:hover,
  &:focus
    text-decoration none
.container
  margin-right auto
  margin-left auto
  padding-left 15px
  padding-right 15px
.sidemenu
  width 190px
  float left
  background-color #fff
  border-radius $border-radius
  overflow hidden
  ul
    padding-left 0
    list-style none
    margin 0
    li
      &:last-child a
        border-bottom none
    a
      padding 12px 25px
      display block
      border-bottom 1px solid $body-color
      color: $text-color
      &:hover
        background-color: rgba(5, 127, 203, 0.1);
        &:before
          content '< / >'
          float right
      &.active
        color: #fff
        background-color $m-brand-blue-light
        &:before
          content '< / >'
          float right


.content
  margin 0 0 20px 210px
  background-color #fff
  border-radius $border-radius
  padding 10px 10px 10px 20px

input[type='text']
  display block
  width 100%
  &:focus
    outline none

h1
  background-color rgba(5, 127, 203, 0.1)
  margin 15px -10px 15px -20px
  padding 3px 0 3px 20px
  font-size 24px

h2
  color #a2a2a2
  font-size 18px
h1,
h2
  font-weight normal

.color-card
  border-radius $border-radius
  float left
  width calc((100% / 5) - 10px)
  margin-right 10px
.color-inp
  border-radius $border-radius
  border 1px solid #fff
  background-color #fff
  padding 2px 5px
.color-inp
  &-lbl
    display block
    background-color $body-color
    margin-bottom 10px
    padding 40px 20px 10px 20px
    border-radius $border-radius
  &-btn
    display block
    margin-bottom 10px
    border-radius $border-radius
    background-color $body-color
    height 100px
    border 1px dashed #ddd
    text-align center
    color #ddd
    font-size 70px
    line-height 100px
    padding 0
    &:hover
      color rgba(5, 127, 203, 0.1)
      border-color rgba(5, 127, 203, 0.1)

.color-var
  border 1px solid #ddd
  border-radius $border-radius
  padding 0 5px

@media (min-width: 768px)
  .container
    width 750px
@media (min-width: 992px)
  .container
    width 970px
@media (min-width: 1200px)
  .container
    width 1170px
