div.sidemenu
    nav
        ul
            each val in ['colour', 'fonts', 'borders']
                li: a(href='#' + val)= val


    select
        each type in ['.styl', '.less', '.scss']
            option: = type

    a.btn.btn-default edit
    a.btn.btn-success save
    a.btn.btn-info create .styl file