
div
    h2 {{styleBlockCtrl.title}}

    div.colors-wrapp.clearfix
        card(ng-repeat = "card in styleBlockCtrl.getCards()")

        div.color-card
            label(style='background-color: {{styleBlockCtrl.temp.value}}').color-inp-lbl
                input(type='text' ng-model='styleBlockCtrl.temp.value' placeholder='#000000').color-inp
            label
                input(type='text' ng-model='styleBlockCtrl.temp.class' placeholder='add new').color-var

        div.color-card
            a(ng-click="styleBlockCtrl.addCard()").color-inp-btn +