div.color-card
    label(style='background-color: {{card.value}}').color-inp-lbl
        input(type='text' ng-model='card.value' placeholder='add new').color-inp
    label
        input(type='text' ng-model='card.class' placeholder='add new').color-var