div
    h2 {{colourCtrl.title}}

    div.colors-wrapp.clearfix
        div.color-card(ng-repeat = "card in colourCtrl.getCards()" ng-click="colourCtrl.deleteCard($index)")
            label(style='background-color: {{card.value}}').color-inp-lbl
                input(type='text' ng-model='card.value' placeholder='add new').color-inp
            label
                input(type='text' ng-model='card.class' placeholder='add new').color-var

        div.color-card
            label(style='background-color: {{colourCtrl.temp.value}}').color-inp-lbl
                input(type='text' ng-model='colourCtrl.temp.value' placeholder='#000000').color-inp
            label
                input(type='text' ng-model='colourCtrl.temp.class' placeholder='add new').color-var

        div.color-card
            a(ng-click="colourCtrl.addCard()").color-inp-btn +