div.sidemenu
    nav
        ul
            each val in ['colour', 'fonts', 'borders']
                li: a(href='#' + val)= val


    select(ng-model="navCtrl.objectType")
        each type in ['.styl', '.less', '.scss']
                option: = type

    a.btn.btn-success(ng-click="navCtrl.actionCreateFile()") save
    a.btn.btn-info(ng-click="navCtrl.actionSavePackage()") create {{navCtrl.objectType}} file