extends ../layout
include ../navigation

block body
    div.container.clearfix
        div.sidemenu
            +navigation
        div.content
            h1 Colour Palette

            h2 Primary Palette

            div.colors-wrapp.clearfix

                - var colors = [{variable: 'red-primary', value: '#057fcb'},{variable: 'fsdf-primary', value: '#057fcb'},{variable: 'fdfddfdfffffff-primary', value: '#057fcb'}]
                    each color in colors
                        div.color-card
                            label(style='background-color:' + color.value).color-inp-lbl
                                input(type='text' value=color.value).color-inp
                            label
                                input(type='text' value=color.variable).color-var

                div.color-card
                    label.color-inp-lbl
                        input(type='text' placeholder='#000000').color-inp
                    label
                        input(type='text' placeholder='add new').color-var

                div.color-card
                    a(href="javascript:void(0);").color-inp-btn +


            h2 Secondary Palette



        div.content
            h1 Fonts

            h2 Font Family

            label Main Font
                input(type='text' placeholder='Arial')

            label Secondary Font
                input(type='text' placeholder='Helvetica')

            label Icon Font
                input(type='text' placeholder='Font Awesome')

            a(href="javascript:void(0);") Add new

            h2 Font Size

            label Title Size (h1)
                input(type='text')

            label Secondary Title Size (h2)
                input(type='text')

            label Title Size
                input(type='text')

