div
    topbar

    div(ng-if="packageCtrl.package").main-wr.container.clearfix

        navigation

        // Colour of palette
        div.content#colour
            h1.content-title Colour Palette

            div
                h2 Primary Palette

                div.colors-wrapp.clearfix
                    div(ng-repeat = "color in packageCtrl.getColourPrimary()").color-card
                        label(style='background-color: {{color.value}}').color-inp-lbl
                            input(type='text' ng-model='color.value' placeholder='add new').color-inp
                        label
                            input(type='text' ng-model='color.class' placeholder='add new').color-var

                    div.color-card
                        label(style='background-color: {{packageCtrl.packageNew.value}}').color-inp-lbl
                            input(type='text' ng-model='packageCtrl.packageNew.value' placeholder='#000000').color-inp
                        label
                            input(type='text' ng-model='packageCtrl.packageNew.class' placeholder='add new').color-var

                    div.color-card
                        a(ng-click="packageCtrl.addColourPrimary()").color-inp-btn +

            div
                h2 Secondary Palette
                div.colors-wrapp.clearfix
                    div(ng-repeat = "color in packageCtrl.getColourSecondary()").color-card
                        label(style='background-color: {{color.value}}').color-inp-lbl
                            input(type='text' ng-model='color.value' placeholder='add new').color-inp
                        label
                            input(type='text' ng-model='color.class' placeholder='add new').color-var

                    div.color-card
                        label(style='background-color: {{packageCtrl.packageNewSecondary.value}}').color-inp-lbl
                            input(type='text' ng-model='packageCtrl.packageNewSecondary.value' placeholder='#000000').color-inp
                        label
                            input(type='text' ng-model='packageCtrl.packageNewSecondary.class' placeholder='add new').color-var
                    div.color-card
                        a(ng-click="packageCtrl.addColourSecondary()").color-inp-btn +


        // Fonts
        div.content#fonts
            h1.content-title Fonts


        // Borders
        div.content#borders
            h1.content-title Borders




